#back{
    margin-left: 0px;
    left: 0px;
}
.heading
{
color: orange;
font-size: 23px;
width: 100%;
margin: 0px;
}
body{
    background-size:cover;
    background-position: center;
}
.an{
    background-color: wheat;
    color: beige;
    font-size: 18px;
    width: 200px;
    border-radius: 30px;
}
#back{
    align-self: left;
}
#status{
font-size: 18px;
background-color: aqua;
color: antiquewhite;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 50px;
    background-color: blueviolet;
    border-color: aquamarine;
}
